@import url("https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://websfont.github.io/websfont/websfont.css");
@font-face {
  font-family: "iceJaram-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #e4edf2;
  color: #2e85e7;
}

#header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #2e85e7;
  font-family: "PPSupplySans";
  z-index: 1000;
}

#header .left {
  display: flex;
  align-items: center;
}

#header .left h1 {
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 800;
}

#header ul {
  display: flex;
}

#header ul li a {
  display: inline-block;
  padding: 10px 20px;
}

#header .right {
  padding-right: 20px;
  text-align: right;
}

.weather {
  position: fixed;
  top: 80px;
  right: 20px;
  border: 1px solid #2e85e7;
  z-index: 10000;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 10px 20px;

  font-family: "PPSupplyMono";
}

#section1 {
  width: 100%;
  padding: 7% 5%;
}

#section1 .desc {
  font-size: 3.3vw;
  line-height: 1.2;
  font-family: "gmarket";
  font-weight: 100;
  letter-spacing: -0.2vw;
}

#section1 .text {
  margin-top: 20%;
  font-size: 26vw;
  line-height: 0.8;
  font-family: "Poppins";
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

#section1 .text .img {
  position: absolute;
  left: 50vw;
  top: 5vw;
  width: 40vw;
  background-color: #000;
  overflow: hidden;
  border: 20px solid #2e85e7;
}
.front,
.end,
.port {
  margin-bottom: 100px;
}
/* section1 */

#section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#section2 .about1 {
  font-family: "iceJaram-Rg";
}
#section2 .about1 > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

#section2 .about2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #cccccc49;
  overflow: hidden;
}

#section2 .about2 > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18vw;
  height: 21vw;
  z-index: 100;
}

#section2 .about2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section2 h4 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#section2 p {
  font-size: 2rem;
  font-weight: 500;
}

/* section3 */

#section3 {
}

#section3 h4 {
  padding: 16px 23px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "iceJaram-Rg";
}

.port-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  width: 400%;
}

.port-wrap .port {
  width: calc(50vw - 60px);
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.port-wrap .port::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.534) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.port-wrap .port .info {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 10;
}

.port-wrap .port .info h5 {
  color: #fff;
  width: 100%;
  padding: 0;
  font-family: "iceJaram-Rg";
  font-size: 50px;
}

.port-wrap .port .info p {
  color: #fff;
  font-family: "IropkeBatang";
  width: 100%;
}

.port-wrap .port img {
  filter: sepia(20%);
  transition: opacity 0.3s ease;
}

.port-wrap .port .skill {
  width: 320px;
  display: none;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 33%;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.port-wrap .port:hover .skill {
  display: flex;
}

.port-wrap .port:hover img {
  opacity: 0.1;
}

.port-wrap .port .skill span {
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  display: block;
  width: 130px;
  height: 100px;
  border-radius: 20%;
  text-align: center;
  line-height: 100px;
  margin-top: 10px;
  font-family: "PPSupplyMono";
}

.port-wrap .port .skill span:hover {
  color: #000;
  transition: all 0.3s;
}
/* section4 */
#section4 {
  padding: 7% 5%;
}

#section4 .desc {
  font-size: 3.8vw;
  line-height: 1.2;
  font-family: "PPSupplyMono";
  font-weight: 100;
  letter-spacing: -0.2vw;
}

#section4 .text {
  margin-top: 10%;
  font-size: 26vw;
  line-height: 0.8;
  font-family: Poppins;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 100px;
}

#section4 .list ul li {
  border-bottom: 1px solid #2e85e7;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
}

#section4 .list li span {
  margin-top: 20px;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#section4 .list li em {
  display: block;
  font-weight: bold;
}

#section4 .list li strong {
  font-family: "IropkeBatang";
  display: block;
}

#section4 .list li a {
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  background-size: 18%;
}
.list__codeview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}


/* section5 */
#section5{
padding: 20% 5% 7% 5%;
    background-color: #2e85e7;
    color: #fff;
}
#section5 .desc{
  font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}