#section3 {
    position: relative;
    z-index: 2000;
    width: 100%;
    background-color: #000;
    padding-bottom: 70vw;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 90vh;
}

.box__contatiner {
    width: 88vw;
    z-index: 0;
    align-items: stretch;
    max-width: none;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    overflow: visible;
    margin-bottom: 2vh;
    flex-wrap: wrap;
}

.left__box {
    width: 42vw;
    height: 125vh;
    background-color: #990303;
    padding: 2vw 1.5vw;
    margin-bottom: 4vh;
    top: 0;
    position: relative;
}


.left__box.l3 {
    margin-top: 133vh;
}

.left__box.l5 {
    margin-top: 262vh;
}

.left__box:first-child {
    top: 0;
}


.left__title {
    font-size: 15vw;
    word-wrap: break-word;
    color: #fff;
    font-weight: bold;
    line-height: 1;
}

.left__text {
    font-size: 11vw;
    word-wrap: break-word;
    color: #fff;
    font-weight: lighter;
}

.left__svg {
    display: flex;
    position: relative;
    margin-top: 167px;
}

.left__svg1 {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
}

.left__svg2 {
    width: 5vw;
    height: 5vw;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 3vw;
    mix-blend-mode: difference;
}

.right__box {
    width: 42vw;
    height: 125vh;
    padding: 2vw 1.5vw;
    background-color: #0b0088;
    color: #e52900;
    position: relative;
    margin-bottom: 4vh;
}

.right__svg {
    display: flex;
}

.right__svg1 {
    width: 5vw;
    height: 5vw;
    margin-top: 2vw;
    z-index: 10;
    background-color: #08ffb5;
    border-radius: 50%;
    mix-blend-mode: difference;
}

.right__svg2 {
    width: 5vw;
    height: 5vw;
    left: 4vw;
    background-color: #08ffb5;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
}

.right__title {
    font-family: "Poppins";
    font-size: 28vw;
    font-weight: 800;
    text-align: center;
    line-height: 23vw;
}

.right__text {
    border-top: 0.3vw solid #e52900;
    font-family: "Iropke";
    font-size: 1.55vw;
    margin: 1vw;
    padding-top: 1vw;
}

.right__link {
    margin-top: 19vh;
}

.right__codeview {
    width: 30%;
    text-align: right;
    margin-bottom: 2vh;
}

.right__codeview a {
    font-family: "gmarkets";
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #e52900;
    text-decoration: none;
}

.right__siteview {
    width: 70%;
    text-align: right;
}

.right__siteview a {
    font-family: "gmarkets";
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #e52900;
    text-decoration: none;
}

/* left l1 */


/* right r1 */
.right__box.r1 {
    background-color: #0075ff;
    color: #0b0088;
}

.right__box.r1 .right__svg1 {}

.right__box.r1 .right__svg2 {}

.right__box.r1 .right__text {
    border-top: 0.3vw solid #0b0088;
}

.right__box.r1 .right__text {}

.right__box.r1 .right__codeview a {
    color: #0b0088;
}

.right__box.r1 .right__siteview a {
    color: #0b0088;
}

/* right r2 */
.right__box.r2 {
    background-color: #ff0000;
    color: #fff;
}

.right__box.r2 .right__svg1 {}

.right__box.r2 .right__text {
    border-top: 0.3vw solid #fff;
}

.right__box.r2 .right__text {}

.right__box.r2 .right__codeview a {
    color: #fff;
}

.right__box.r2 .right__siteview a {
    color: #fff;
}

/* left l3 */

/* right r3 */
.right__box.r3 {
    background-color: #03ff00;
    color: #000;
}

.right__box.r3 .right__svg1 {}

.right__box.r3 .right__text {
    border-top: 0.3vw solid #000;
}

.right__box.r3 .right__text {}

.right__box.r3 .right__codeview a {
    color: #000;
}

.right__box.r3 .right__siteview a {
    color: #000;
}

/* left l4 */

/* right r4 */
.right__box.r4 {
    background-color: #50008e;
    color: #cc00ff;
}

.right__box.r4 .right__svg1 {}

.right__box.r4 .right__text {
    border-top: 0.3vw solid #cc00ff;
}

.right__box.r4 .right__text {}

.right__box.r4 .right__codeview a {
    color: #cc00ff;
}

.right__box.r4 .right__siteview a {
    color: #cc00ff;
}

/* left l5 */

/* right r5 */
.right__box.r5 {
    background-color: #ffe500;
    color: #ff7a00;
}

.right__box.r5 .right__svg1 {}

.right__box.r5 .right__text {
    border-top: 0.3vw solid #ff7a00;
}

.right__box.r5 .right__text {}

.right__box.r5 .right__codeview a {
    color: #ff7a00;
}

.right__box.r5 .right__siteview a {
    color: #ff7a00;
}

.slide__bar1 {
    width: 150%;
    height: 21vh;
    background-color: #fe4006;
    position: relative;
    left: -10vw;
    margin-top: 45vh;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%) rotate(18deg);
}

.slide__bar1 span {
    width: 100%;
    height: 15vh;
    background-color: #ff0000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide__bar1 p {
    width: 100%;
    white-space: nowrap;
    font-size: 6vw;
    color: #fff;
    font-family: "gmarket";
    font-weight: bold;
    text-align: left;
}

.circel1 {
    position: absolute;
    background-color: #03ff00;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    left: 35%;
    top: -70%;
    background-image: url(../img/arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    z-index: 10;
}


.slide__bar2 {
    width: 150%;
    height: 21vh;
    background-color: #fe4006;
    position: relative;
    left: -10vw;
    margin-top: 45vh;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%, -50%) rotate(-18deg);
}

.slide__bar2 span {
    width: 100%;
    height: 15vh;
    background-color: #ff0000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide__bar2 p {
    width: 100%;
    white-space: nowrap;
    font-size: 6vw;
    color: #fff;
    font-family: "gmarket";
    font-weight: bold;
    text-align: right;
}

.circel {
    position: absolute;
    background-color: #03ff00;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    right: 15%;
    top: -70%;
    background-image: url(../img/arrow2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    z-index: 10;
}

svg {
    text {
        font-size: 3.5rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 21px;
        fill: #000000;
    }
}