@import url("//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Iropke";
  src: url("../font/IropkeBatangM.woff");
}

#section3 {
  max-width: 100%;
  height: 850vh;
  background-color: #000;
}

.box__contatiner {
  width: 88vw;
  z-index: 0;
  align-items: stretch;
  max-width: none;
  height: auto;
  padding: 0 5vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: visible;
  margin-bottom: 2vh;
  flex-wrap: wrap;
}

.left__box {
  width: 40vw;
  height: auto;
  background-color: #990303;
  padding: 2vw 1.5vw;
  margin-bottom: 2vw;
}

.left__title {
  font-size: 15vw;
  word-wrap: break-word;
  color: #fff;
  font-weight: bold;
}

.left__text {
  font-size: 11vw;
  word-wrap: break-word;
  color: #fff;
  font-weight: lighter;
}

.left__svg {
  display: flex;
  position: relative;
  margin-top: 167px;
}

.left__svg1 {
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.left__svg2 {
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 3vw;
  mix-blend-mode: difference;
}

.right__box {
  width: 40vw;
  height: 125vh;
  padding: 2vw 1.5vw;
  background-color: #0b0088;
  color: #e52900;
  position: relative;
  margin-bottom: 2vw;
}

.right__svg {
  display: flex;
}

.right__svg1 {
  width: 5vw;
  height: 5vw;
  margin-top: 2vw;
  z-index: 10;
  background-color: #08ffb5;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.right__svg2 {
  width: 5vw;
  height: 5vw;
  left: 4vw;
  background-color: #08ffb5;
  border-radius: 50%;
  position: absolute;
  mix-blend-mode: difference;
}

.right__title {
  font-family: "Poppins";
  font-size: 30vw;
  font-weight: 800;
  text-align: center;
  line-height: 23vw;
}

.right__text {
  border-top: 0.3vw solid #e52900;
  font-family: "Iropke";
  font-size: 1.55vw;
  margin: 1vw;
  padding-top: 1vw;
}

.right__link {
  margin-top: 20vh;
}
.right__codeview {
  width: 30%;
  text-align: right;
  margin-bottom: 2vh;
}
.right__codeview a {
  font-family: "gmarkets";
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #e52900;
  text-decoration: none;
}
.right__siteview {
  width: 70%;
  text-align: right;
}
.right__siteview a {
  font-family: "gmarkets";
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #e52900;
  text-decoration: none;
}
/* left l1 */
.left__box.l1,
.left__box.l2,
.left__box.l4 {
  background-color: #000;
}
/* right r1 */
.right__box.r1 {
  background-color: #0075ff;
  color: #0b0088;
}
.right__box.r1 .right__svg1 {
}
.right__box.r1 .right__svg2 {
}
.right__box.r1 .right__text {
  border-top: 0.3vw solid #0b0088;
}
.right__box.r1 .right__text {
}
.right__box.r1 .right__codeview a {
  color: #0b0088;
}
.right__box.r1 .right__siteview a {
  color: #0b0088;
}
/* right r2 */
.right__box.r2 {
  background-color: #ff0000;
  color: #fff;
}
.right__box.r2 .right__svg1 {
}

.right__box.r2 .right__text {
  border-top: 0.3vw solid #fff;
}
.right__box.r2 .right__text {
}
.right__box.r2 .right__codeview a {
  color: #fff;
}
.right__box.r2 .right__siteview a {
  color: #fff;
}
/* left l3 */

/* right r3 */
.right__box.r3 {
  background-color: #03ff00;
  color: #000;
}
.right__box.r3 .right__svg1 {
}

.right__box.r3 .right__text {
  border-top: 0.3vw solid #000;
}
.right__box.r3 .right__text {
}
.right__box.r3 .right__codeview a {
  color: #000;
}
.right__box.r3 .right__siteview a {
  color: #000;
}
/* left l4 */

/* right r4 */
.right__box.r4 {
  background-color: #50008e;
  color: #cc00ff;
}
.right__box.r4 .right__svg1 {
}

.right__box.r4 .right__text {
  border-top: 0.3vw solid #cc00ff;
}
.right__box.r4 .right__text {
}
.right__box.r4 .right__codeview a {
  color: #cc00ff;
}
.right__box.r4 .right__siteview a {
  color: #cc00ff;
}
/* left l5 */

/* right r5 */
.right__box.r5 {
  background-color: #ffe500;
  color: #ff7a00;
}
.right__box.r5 .right__svg1 {
}

.right__box.r5 .right__text {
  border-top: 0.3vw solid #ff7a00;
}
.right__box.r5 .right__text {
}
.right__box.r5 .right__codeview a {
  color: #ff7a00;
}
.right__box.r5 .right__siteview a {
  color: #ff7a00;
}
