#section2 {
  width: 100%;
  height: 600vh;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

.text2-1,
.text2-2,
.text2-3,
.text2-4,
.text2-5 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text2-5 {
  margin-bottom: 10vh;
}

.text2-1 h1,
.text2-2 h1,
.text2-3 h1,
.text2-4 h1,
.text2-5 h1 {
  font-size: 8.5vw;
  font-weight: 800;
  mix-blend-mode: difference;
}

#section2 .img2 .img2-1 {
  top: 20vh;
  left: 10vw;
  position: absolute;
  rotate: -15deg;
}

#section2 .img2 .img2-2 {
  top: 50vh;
  right: 11vw;
  position: absolute;
  rotate: 18deg;
}

#section2 .img2 .img2-2::before {
  content: "";
  padding: 3vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  right: -9%;
  bottom: -18%;
  z-index: 10;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  rotate: -90deg;
  background-position: center;
}

#section2 .img2 .img2-3 {
  position: absolute;
  top: 150vh;
  left: 24vw;
}

#section2 .img2 .img2-3::before {
  content: "";
  padding: 3vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: -8%;
  bottom: -12%;
  z-index: 10;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}

#section2 .img2 .img2-4 {
  position: absolute;
  top: 240vh;
  right: 10vw;
  rotate: -15deg;
}

#section2 .img2 .img2-4::before {
  content: "";
  padding: 3vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  right: -9%;
  bottom: -14%;
  z-index: 10;
  rotate: -90deg;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}

#section2 .img2 .img2-5 {
  position: absolute;
  top: 337vh;
  left: 22vw;
}

#section2 .img2 .img2-5::before {
  content: "";
  padding: 3vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: -11%;
  bottom: -10%;
  z-index: 10;
  rotate: 0deg;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}

#section2 .img2 .img2-6 {
  position: absolute;
  top: 421vh;
  right: 16vw;
}

#section2 .img2 .img2-6::before {
  content: "";
  padding: 3vw;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  right: -9%;
  bottom: -16%;
  z-index: 10;
  rotate: -90deg;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: center;
}

#section2 .img2 .img2-7 {
  position: absolute;
  top: 457vh;
  left: 15vw;
}

#section2 .img2 .img2-8 {
  position: absolute;
  top: 80vh;
  left: 20vw;
}

#section2 .img2 .img2-9 {
  position: absolute;
  top: 290vh;
  left: 22vw;
}

#section2 .img2 .img2-10 {
  position: absolute;
  top: 190vh;
  right: 0;
}

#section2 .img2 .img2-11 {
  position: absolute;
  top: 380vh;
  right: 30vw;
}

#section2 .img2 .img2-1 img {
  width: 25vw;
}

#section2 .img2 .img2-2 img {
  width: 32vw;
}

#section2 .img2 .img2-3 img {
  width: 36vw;
}

#section2 .img2 .img2-4 img {
  width: 33vw;
}

#section2 .img2 .img2-5 img {
  width: 26vw;
}

#section2 .img2 .img2-6 img {
  width: 34vw;
}

#section2 .img2 .img2-7 img {
  width: 23vw;
}

#section2 .img2 .img2-8 img {
  width: 15vw;
}

#section2 .img2 .img2-9 img {
  width: 20vw;
}

#section2 .img2 .img2-10 img {
  width: 20vw;
}

#section2 .img2 .img2-11 img {
  width: 20vw;
}

#section2 .img2 p {
  color: #fff;
}

#section2 .img2 .img2-2 p {
  position: absolute;
  font-size: 1vw;
  right: 14%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .img2 .img2-3 p {
  position: absolute;
  left: 18%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .img2 .img2-4 p {
  position: absolute;
  right: 12%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .img2 .img2-5 p {
  position: absolute;
  font-size: 1vw;
  right: 8%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .img2 .img2-6 p {
  position: absolute;
  right: 15%;
  bottom: 0;
  letter-spacing: normal;
  font-size: 1vw;
}

.slide__bar {
  width: 120vw;
  height: 21vh;
  transform: rotate(-20deg);
  background-color: #fe4006;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10vw;
}

.slide__bar span {
  width: 100%;
  height: 15vh;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: right;
  letter-spacing: -7px;
}

.slide__bar p {
  width: 100%;
  white-space: nowrap;
  font-size: 6vw;
  color: #fff;
  font-family: "gmarket";
  font-weight: bold;
  text-align: center;
}
.circel {
  position: absolute;
  background-color: #03ff00;
  border-radius: 50%;
  width: 10vw;
  right: 15%;
  top: -83%;
  background-image: url(../img/Arrow\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}
svg {
  text {
    font-size: 3.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 21px;
    fill: #000000;
  }
}

@media (max-width: 1200px) {
  #section2 .img2 .img2-1 {
    top: 33vh;
    left: 13vw;
  }

  #section2 .img2 .img2-2 {
    top: 48vh;
    right: 10vw;
  }

  #section2 .img2 .img2-3 {
    left: 19vw;
  }

  #section2 .img2 .img2-4 {
    top: 243vh;
    right: 15vw;
  }

  #section2 .img2 .img2-5 {
    top: 341vh;
  }

  #section2 .img2 .img2-6 {
    top: 432vh;
  }

  #section2 .img2 .img2-7 {
    top: 453vh;
  }
}

@media (max-width: 768px) {
  #section2 .img2 .img2-1 {
    top: 39vh;
    left: 10vw;
  }

  #section2 .img2 .img2-2 {
    top: 48vh;
    right: 8vw;
  }

  #section2 .img2 .img2-3 {
    top: 150vh;
    left: 19vw;
  }

  #section2 .img2 .img2-4 {
    top: 246vh;
    right: 15vw;
  }

  #section2 .img2 .img2-5 {
    top: 344vh;
    left: 19vw;
  }

  #section2 .img2 .img2-6 {
    top: 438vh;
  }

  #section2 .img2 .img2-7 {
    top: 453vh;
  }
}

@media (max-width: 600px) {
  .text2-1,
  .text2-2,
  .text2-3,
  .text2-4,
  .text2-5 {
    height: 50vh;
  }
  #section2 .img2 .img2-1 {
    top: 41vh;
    left: 8vw;
  }

  #section2 .img2 .img2-2 {
    top: 47vh;
    right: 7vw;
  }

  #section2 .img2 .img2-3 {
    left: 18vw;
  }

  #section2 .img2 .img2-4 {
    top: 247vh;
  }

  #section2 .img2 .img2-5 {
    top: 346vh;
    left: 17vw;
  }

  #section2 .img2 .img2-6 {
    top: 441vh;
  }

  #section2 .img2 .img2-7 {
    top: 452vh;
    left: 10vw;
  }
}
