@import url("https://websfont.github.io/websfont/websfont.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(/assets/font/NeoGeo\ Trial\ WOFF2/);

@font-face {
  font-family: "Marvin Visions Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BaikalTrial";
  src: url("../font/BaikalTrial-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.quote {
  --weight: 10;
  font-family: "Marvin Visions Variable";
  font-size: 1rem;
  font-weight: 100;
  background-size: contain;
  line-height: 0.8;
  margin: 0;
  text-align: center;
  white-space: pre-line;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.quote > * {
  color: hwb(0 100% 0%);
  font-variation-settings: "wght" var(--weight);
}

.grid {
  grid-template-columns: repeat(3, 1fr);
}
* {
}
body {
  font-family: "NeoGeoTrial";
  background-color: #f04822;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrap {
}

#section1 {
  width: 100%;
  height: 100vh;
}

#header {
  font-family: "Poppins";
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  color: #fff;
  position: fixed;
  line-height: 5px;
  width: 100%;
  box-sizing: border-box;
}

#header .logo {
}

#header .logo h1 {
  font-size: 2rem;
}

#header .logo span {
  font-size: 2rem;
  letter-spacing: 6.5px;
}

.nav h1 {
  font-size: 2rem;
}

.center {
  font-family: "Poppins";
  font-size: 15vw;
  font-weight: 800;
  color: #fff;
}

.center > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.center .text {
  line-height: 1;
  color: #ffffff;
  margin: 5px;
  z-index: 10;
  opacity: 0;
}

.center .daewon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(15deg);
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.center .protfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-transform: uppercase;
  font-size: 5vw;
  color: #000;
}

.center .img1 {
  background-image: url(/assets/img/daewon.jpg);
  background-size: cover;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-repeat: no-repeat;
}

#section2 {
  width: 100%;
  height: 600vh;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}
.text2-1,
.text2-2,
.text2-3,
.text2-4,
.text2-5 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2-1 h1,
.text2-2 h1,
.text2-3 h1,
.text2-4 h1,
.text2-5 h1 {
  font-size: 15vw;
  font-weight: 800;
  mix-blend-mode: difference;
}

#section2 .img2 .img2-1 {
  top: 10vh;
  left: 10vw;
  position: absolute;
  rotate: -15deg;
}

#section2 .img2 .img2-2 {
  top: 45vh;
  right: 3vw;
  position: absolute;
  rotate: 18deg;
}

#section2 .img2 .img2-3 {
  position: absolute;
  top: 150vh;
  left: 10vw;
}

#section2 .img2 .img2-4 {
  position: absolute;
  top: 240vh;
  right: 10vw;
  rotate: -15deg;
}

#section2 .img2 .img2-5 {
  position: absolute;
  top: 320vh;
  left: 17vw;
}

#section2 .img2 .img2-6 {
  position: absolute;
  top: 436vh;
  right: 11vw;
}

#section2 .img2 .img2-7 {
  position: absolute;
  top: 460vh;
  left: 5vw;
  rotate: 24deg;
}
#section2 .img2 .img2-8 {
  position: absolute;
  top: 80vh;
  left: 20vw;
}

#section2 .img2 .img2-9 {
  position: absolute;
  top: 290vh;
  left: 50vw;
}
#section2 .img2 .img2-10 {
  position: absolute;
  top: 190vh;
  right: 0;
}
#section2 .img2 .img2-11 {
  position: absolute;
  top: 380vh;
  right: 30vw;
}
#section2 .img2 .img2-1 img {
  width: 20vw;
  height: 20%;
}

#section2 .img2 .img2-2 img {
  width: 30vw;
  height: 20%;
}

#section2 .img2 .img2-3 img {
  width: 25vw;
  height: 20%;
}

#section2 .img2 .img2-4 img {
  width: 25vw;
  height: 20%;
}

#section2 .img2 .img2-5 img {
  width: 20vw;
  height: 20%;
  position: relative;
}

#section2 .img2 .img2-6 img {
  width: 25vw;
  height: 20%;
}

#section2 .img2 .img2-7 img {
  width: 23vw;
  height: 20%;
}
#section2 .img2 .img2-8 img {
  width: 15vw;
  height: 20%;
}
#section2 .img2 .img2-9 img {
  width: 20vw;
  height: 20%;
}
#section2 .img2 .img2-10 img {
  width: 20vw;
  height: 20%;
}
#section2 .img2 .img2-11 img {
  width: 20vw;
  height: auto;
}
#section2 .img2 p {
  color: #fff;
}
#section2 .img2 .img2-2 p {
  position: absolute;
  font-size: 1vw;
  right: 14%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .img2 .img2-3 p {
  position: absolute;
  left: 18%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .img2 .img2-4 p {
  position: absolute;
  right: 12%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .img2 .img2-5 p {
  position: absolute;
  font-size: 1vw;
  right: 8%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .img2 .img2-6 p {
  position: absolute;
  right: 15%;
  bottom: 0;
  letter-spacing: normal;
  font-size: 1vw;
}

#section2 .img2 .img2-2 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}

#section2 .img2 .img2-3 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  bottom: -30px;
}

#section2 .img2 .img2-4 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}

#section2 .img2 .img2-5 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  bottom: -30px;
}

#section2 .img2 .img2-6 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}

.slide__bar {
  margin-top: 20vh;
  width: 3000px;
  height: 20vh;
  transform: rotate(-20deg) scale(1.1);
  background-color: #fe4006;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide__bar span {
  width: 100%;
  height: 16vh;
  background-color: #ff0000;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-grow: 1;
}
.slide__bar p {
  width: 100%;
  white-space: nowrap;
  font-size: 9rem;
  color: #fff;
  font-family: "gmarket";
  font-weight: bold;
  text-align: center;
  flex-shrink: 1;
}
