body {
  font-family: "Poppins";
  background-color: #f04822;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto; /* 스크롤 가능 */
}

/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
body::-webkit-scrollbar {
  display: none;
}

#main__gsap {
}

#header {
  padding: 40px 36px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  line-height: 8px;
}

.logo h1 {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

.logo p {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 10px;
}

.menu h1 {
  font-size: 30px;
  font-weight: 800;
  color: #fff;
}

#content {
  font-family: "GmarketSans";
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.content__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* 텍스트를 이미지 위에 오도록 설정 */
}

.content__title {
  font-size: 5rem;
  font-weight: 900;
  line-height: 7vw;
  position: relative;
  transform: rotate(350deg);
  z-index: 4;
}

.content__title h1 {
  will-change: transform;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(-15deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  font-weight: 900;
}

.content__title .text__DEVELOP {
  color: #fff;
  margin: 0;
  position: relative;
  bottom: -2vh;
  right: 10vw;
  font-weight: 900;
}

.content__title .text__PORTFOLIO {
  color: #fff;
  margin: 0;
  position: relative;
  top: -2vh;
  right: -10vw;
  font-weight: 900;
}

.content__cat img {
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
  z-index: 1;
  mix-blend-mode: difference;
}

.content__sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: hard-light;
}

.text__SUPER {
  color: #000000;
  font-size: 5vw;
  font-weight: 300;
}

.text__DAEWON {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(10deg);
  font-size: 5vw;
  font-weight: 800;
  z-index: 2;
  opacity: 0;
}

.content__2024 img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 48px;
}

#content2 {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
