@import url("https://websfont.github.io/websfont/websfont.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Marvin Visions Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1b1b1d;
  display: flex;
  align-items: center;
  padding: 1rem;
}

body:after {
  /* content: '';
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover; */
}

.quote {
  --weight: 10;
  font-family: "Marvin Visions Variable";
  font-size: 6.5rem;
  font-weight: 170;
  background-size: contain;
  line-height: 0.8;
  margin: 0;
  text-align: center;
  white-space: pre-line;
  letter-spacing: 10px;
}

.quote>* {
  color: hwb(0 100% 0%);
  font-variation-settings: "wght" var(--weight);
}

.grid {
  grid-template-columns: repeat(3, 1fr);
}

body {
  font-family: "gmarket";
  background-color: #f04822;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  /* 스크롤 가능 */
}

/* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
body::-webkit-scrollbar {
  /* display: none; */
}

#main__gsap {
  width: 100%;
}

#header {
  font-family: "Poppins";
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  color: #fff;
  position: fixed;
  line-height: 5px;
  width: 100%;
  box-sizing: border-box;
}

.logo {}

.logo h1 {
  font-size: 1vw;
}

.logo span {
  font-size: 1vw;
  letter-spacing: 5.5px;
}

.nav h1 {
  font-size: 1vw;
}

#section1 {
  width: 100%;
  height: 100vh;
  position: relative;
  /* display: none; */
}

#section1 .center {
  font-family: "Poppins";
  font-size: 18vw;
  font-weight: 800;
  color: #fff;
  letter-spacing: -15px;
  text-transform: uppercase;
}

#section1 .center>div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#section1 .center>div.img {
  background-image: url(../img/daewon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  transform: translate(-50%, -50%) scale(0);
}

#section1 .center>div.text1 {
  mix-blend-mode: difference;
  transform: translate(-50%, -50%) scale(1);
}

#section1 .center>div.text2 {
  transform: translate(-50%, -50%) scale(0);
}

#section1 .center>div.text3 {
  color: #000;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

#section1 .img2024 {
  background-image: url(../img/2024.png);
  width: 150px;
  height: 200px;
  background-size: contain;
  position: absolute;
  right: 48px;
  bottom: -200px;
}

/* section2 */
#section2 {
  width: 100%;
  height: 500%;
  background-color: #000;
  color: #fff;
  position: relative;
}

#section2 .center {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

#section2 .center .s_text2 {
  padding-top: 30vh;
  height: 500vh;
}

/* section2 text */
.text2-1,
.text2-2,
.text2-3,
.text2-4,
.text2-5 {
  height: 100vh;
}

.text2-1 h1,
.text2-2 h1,
.text2-3 h1,
.text2-4 h1,
.text2-5 h1 {
  font-size: 10vw;
  font-weight: 800;
  mix-blend-mode: difference;
}

/* section2 img */
#section2 .center .img2 .img2-1 {
  object-fit: cover;
  top: 10vh;
  left: 10vw;
  position: absolute;
  rotate: -15deg;
}

#section2 .center .img2 .img2-2 {
  object-fit: cover;
  top: 36vh;
  right: 7vw;
  position: absolute;
  rotate: 18deg;
}

#section2 .center .img2 .img2-3 {
  object-fit: cover;
  position: absolute;
  top: 137vh;
  left: 18vw;
}

#section2 .center .img2 .img2-4 {
  object-fit: cover;
  position: absolute;
  top: 233vh;
  right: 17vw;
  rotate: -15deg;
}

#section2 .center .img2 .img2-5 {
  object-fit: cover;
  position: absolute;
  top: 320vh;
  left: 22vw;
}

#section2 .center .img2 .img2-6 {
  object-fit: cover;
  position: absolute;
  top: 427vh;
  right: 20vw;
}

#section2 .center .img2 .img2-7 {
  object-fit: cover;
  position: absolute;
  top: 450vh;
  left: 10vw;
  rotate: 24deg;
}

#section2 .center .img2 .img2-1 img {
  width: 20vw;
  height: 20%;
  position: relative;
}

#section2 .center .img2 .img2-2 img {
  width: 30vw;
  height: 20%;
}

#section2 .center .img2 .img2-3 img {
  width: 25vw;
  height: 20%;
}

#section2 .center .img2 .img2-4 img {
  width: 25vw;
  height: 20%;
}

#section2 .center .img2 .img2-5 img {
  width: 20vw;
  height: 20%;
  position: relative;
}

#section2 .center .img2 .img2-6 img {
  width: 25vw;
  height: 20%;
}

#section2 .center .img2 .img2-7 img {
  width: 23vw;
  height: 20%;
}

#section2 .center .img2 .img2-2 p {
  position: absolute;
  font-size: 1vw;
  right: 14%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .center .img2 .img2-3 p {
  position: absolute;
  left: 18%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .center .img2 .img2-4 p {
  position: absolute;
  right: 12%;
  bottom: 0;
  font-size: 1vw;
  letter-spacing: normal;
}

#section2 .center .img2 .img2-5 p {
  position: absolute;
  font-size: 1vw;
  right: 8%;
  bottom: 0;
  letter-spacing: normal;
}

#section2 .center .img2 .img2-6 p {
  position: absolute;
  right: 15%;
  bottom: 0;
  letter-spacing: normal;
  font-size: 1vw;
}

#section2 .center .img2 .img2-2 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}

#section2 .center .img2 .img2-3 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  bottom: -30px;
}

#section2 .center .img2 .img2-4 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}

#section2 .center .img2 .img2-5 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -40px;
  bottom: -30px;
}

#section2 .center .img2 .img2-6 a {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  right: -40px;
  bottom: -30px;
}